[Unit]
Description=Sync replica incoming watch

[Service]
Type=simple
User=www-admin
ExecStart=/var/www/sync/replica-incoming-apply.sh replica

StartLimitInterval=10
StartLimitBurst=300

[Install]
WantedBy=multi-user.target
